<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Server=14.186.240.179,1433;Database=RestaurantManagementDB;User Id=Tự điền;Password=Tự điền;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>